html,body{
    width: 100%; height: 100%; margin: 0 auto; text-align: center;
}


html,body {
    background-color :#03002e;
    font-family: "Trirong";
   width:100%;
    height:100%;
    color : white;
}
h1{
    color:black;
}
.central-div {
    background-color: #03002e;
    width: 50%; /* Adjust the width as per your design */
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}