body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
table,th,td{
    border: 1px solid black;
    text-align: left;
    border-style:inset;
}
td:hover{
    background-color: navajowhite;
}
th:hover{
    background-color:navajowhite;
}
.center{
    text-align: center;
}
.done{
    color:green;
}
.overdue{
    color:red;
}
.css-serial{
    counter-reset: serial-number;
}
.css-serial td:first-child:before{
    counter-increment: serial-number;
    content: counter(serial-number);
}
